<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'registration/registration.css' %}">
    <title>Registration</title>
</head>
<body>
    <div class="reg_info">
        <h1>Registration</h1>
        <form method="POST" action="{% url 'info_view' %}" class="inp_info">
            {% csrf_token %}
            <input type="text" placeholder="Name" name="name" value="{{ name_value }}" class="inp1">
            <input type="text" placeholder="Surname" name="surname" value="{{ surname_value }}" class="inp2">
            <input type="email" placeholder="Email" name="email" value="{{ email_value }}" class="inp3">
            <input type="password" placeholder="Password" name="password" value="{{ password_value }}" class="inp4">
            <button type="submit" class="reg_btn">Register</button>
            
            {% if name_value and password_value %}
            <p>name: {{ name_value }}</p>
            <p>surname: {{ surname_value }}</p>
            <p>email: {{ email_value }}</p>
            <p>password: {{ password_value }}</p>
            {% endif %}
        </form>
    </div>
</body>
</html>