<!DOCTYPE html>
<html lang="hy">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <title>Index</title>
</head>
<body>
    <form method="post" class="log">
        {% csrf_token %}
        <input type="text" placeholder="Login" name="login" value="{{ login_value }}">
        <input type="text" placeholder="Password" name="password" value="{{ password_value }}">
        <button type="submit">Login</button>
        {% if success %}
        
        <p>success login</p>
        <p>Name: {{ login_value }}</p>
        <p>Surname: {{ surname_value }}</p>
        <p>Email: {{ email_value }}</p>
        {% else %}
        <p>DEBUG: success = {{ success }}</p>

        <p>Write correct login or password</p>
        {% endif %}

    </form>
</body>
</html>
